* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
}
a {
    cursor: pointer;
}

.body-main {
    max-width: 80rem;
}

.main-container {
    display: flex;
    justify-content: center;
}
.nav-header-table {
    display: flex;
    justify-content: space-between;

}